*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #1f2424;
  background-color: #e8e3d9;
}
footer{
  background: #2f4f4f;
  height: auto;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding-top: 0px auto;
  color: #e8e3d9;
}

/* HEADER NAVIGATION */
.navigation{
  display: flex;
  min-height: 1px;
  background-color: #e8e3d9;
}
.leftNav {
  display: flex;
  justify-content: flex-start;
  vertical-align: top;
  width: 50%;
  padding-top: 1%;
  text-align: left;
}
.navName {
  font-size: 24px;
  font-weight: normal;
  line-height: 39px;
  padding-left: 20px;
  text-align: end;
}
/* right nav items */
.inline-block{
  display: inline-block;
  vertical-align: top;
}
/* right nav text*/
.inline-block a {
  font-weight: normal;
  line-height: 40px;
  text-decoration: none;
  list-style: none;
  padding: 20px;
  color: #1f2424;
  transform: all .4s ease;
}
.inline-block a:hover {
  color: #daa520
}
.rightNav{
  width: 73%;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
.rightNav ul{
  width: 50%;
  margin-left: auto;
  padding: 1%;
}

/* HERO IMAGE */

/* OVERVIEW */
section {
  background-color: #e8e3d9;
}

.list-group-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 20px;
  background-color: #e8e3d9;
}
.list-group {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  padding-top: 40px;

}
.problem {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.problem h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.problem p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
}

/* SUBNAV */
.navbar {
  background-color: #e8e3d9;
}
hr {
  background-color: #2f4f4f;
}
.nav-item a {
  font-weight: normal;
  line-height: 40px;
  text-decoration: none;
  list-style: none;
  color: #1f2424;
  transform: all .4s ease;
}
.nav-item a:hover {
  color: #daa520
}

/* USER RESEARCH */
.userResearch {
  font-weight: bolder;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
  padding-bottom: 0;
}
.interviewFindings {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.interviewFindings h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.interviewFindings p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
}
.interviewFindings q {
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
  color: #77A0b7;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* DEFINE */
.card {
  margin: 40px;
}
.card-text {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
  padding: 60px;
  padding-top: 10px;
  background-color: #e8e3d9;
}
.card q {
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
  color: #77A0b7;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #e8e3d9;
}
.definition {
  font-weight: bolder;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px;
  padding-bottom: 0;
}

.ErinAnderson h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 80px;
}

.features {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.features h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.features p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 20px;
}
.features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TEST */
.test {
  font-weight: bolder;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
  padding-bottom: 0;
}
.usability {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.usability h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.usability p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 20px;
}
.row {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.filter-title {
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
  color: #daa520;
}
.filter1 {
  width: 75%;
}
.filter2 img {
  width: 75%;
}
.filter3 {
  width: 75%;
}

/* OUTCOMES */
.outcomes {
  font-weight: bolder;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
  padding-bottom: 0;
}
.solution {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.solution h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.solution p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
}
.responsiveDesign {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.responsiveDesign h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.responsiveDesign p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
}
.learningOutcomes {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin-top: 80px;
}
.learningOutcomes h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 10px;
}
.learningOutcomes p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 40px;
  color: #1f2424;
  padding-bottom: 100px;
}

/* FOOTER */
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h2{
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-transform: capitalize;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #e8e3d9;
  transform: color .4s ease;
}
.socials a i{
  font-size: 1.1rem;
}
.socials a:hover i{
  color: #daa520;
}

.foot-nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.foot-nav a{
  text-decoration: none;
  color: #e8e3d9;
  font-weight: normal;
  transform: color .4s ease;
  margin: 20px;
}
.foot-nav a:hover {
  color: #daa520;
}

.footer-bottom{
  color: #e8e3d9;
  width: 100vw;
  padding: 20 px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

/* MOBILE MEDIA QUERY*/
@media only screen and (max-width: 600px){
  .card {
    margin: 10px;
  }
  .card-text {
    font-weight: lighter;
    font-size: 24px;
    line-height: 40px;
    color: #1f2424;
    padding: 10px;
    padding-top: 10px;
    background-color: #e8e3d9;
  }
  .workGrid {
    display: grid;
    grid-template-areas:
    "taskmnstr"
    "taskmnstrImg"
    "hsco"
    "hscoImg"
    "doi"
    "doiImg"
    ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .workGrid > div {
    border-radius: 5px;
    gap: 5px;
    padding: 10px;
  }
  .heroImg, .textContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 0;
  }
  .textContent {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
  .textContent h1{
    font-weight: bolder;
    font-size: 32px;
    line-height: 40px;
    grid-area: 1/1/2/2;
  }
  .textContent h2 {
    font-size: 18px;
    line-height: 40px;
  }
  .navName {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    padding-left: 20px;
    text-align: left
  }
  .myProcess {
    list-style: none;
    display:block;
    width:100%;
    height:100%;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    text-align: center;
  }
  .myProcess ul li{
    margin: 0 10px;
  }
}